.section-menu {
  display: flex;
  flex-direction: row;
  &__button {
    flex: 1 1 150px;
    background-color: #4caf50; /* Green */
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    &--nowrap {
      white-space: nowrap;
    }
  }
}

.nowrap {
  white-space: nowrap;
}
