<div class="section">
  <div class="container">
    <app-word-study-menu></app-word-study-menu>

    @if (wordGroupEntries().length) {
      <div class="link-list">
        @for (group of wordGroupEntries(); track group.key) {
          <a role="button" (click)="shuffleWords(group.words)">{{ group.key }}</a>
        }
        <a role="button" (click)="clearWords()">Clear</a>
        <a role="button" (click)="randomize()">Randomize</a>
      </div>
    }

    <app-word-list [words]="words()"></app-word-list>
  </div>
</div>
