<div class="section-menu">
  <a
    role="button"
    class="section-menu__button"
    [routerLink]="['/next-step-word-study', 'mixed-short']"
    routerLinkActive="section-menu__button--active"
    >1: <span class="section-menu__button--nowrap">Mixed Short</span></a
  >
  <a
    role="button"
    class="section-menu__button"
    [routerLink]="['/next-step-word-study', 'core-a']"
    routerLinkActive="section-menu__button--active"
    >2: <span class="section-menu__button--nowrap">Core A</span></a
  >
  <a
    role="button"
    class="section-menu__button"
    [routerLink]="['/next-step-word-study', 'core-i']"
    routerLinkActive="section-menu__button--active"
    >3: <span class="section-menu__button--nowrap">Core I</span></a
  >
  <a
    role="button"
    class="section-menu__button"
    [routerLink]="['/next-step-word-study', 'core-o']"
    routerLinkActive="section-menu__button--active"
    >4: <span class="section-menu__button--nowrap">Core O</span></a
  >
  <a
    role="button"
    class="section-menu__button"
    [routerLink]="['/next-step-word-study', 'core-e']"
    routerLinkActive="section-menu__button--active"
    >5: <span class="section-menu__button--nowrap">Core E</span></a
  >
  <a
    role="button"
    class="section-menu__button"
    [routerLink]="['/next-step-word-study', 'core-u']"
    routerLinkActive="section-menu__button--active"
    >6: <span class="section-menu__button--nowrap">Core U</span></a
  >
  <a
    role="button"
    class="section-menu__button"
    [routerLink]="['/next-step-word-study', 'ending-sorts']"
    routerLinkActive="section-menu__button--active"
    >7: -ed <span class="section-menu__button--nowrap">ending sorts</span></a
  >
  <a
    role="button"
    class="section-menu__button"
    [routerLink]="['/next-step-word-study', 'addl-a']"
    routerLinkActive="section-menu__button--active"
    >8: <span class="section-menu__button--nowrap">Addl A</span></a
  >
  <a
    role="button"
    class="section-menu__button"
    [routerLink]="['/next-step-word-study', 'addl-i']"
    routerLinkActive="section-menu__button--active"
    >9: <span class="section-menu__button--nowrap">Addl I</span></a
  >
  <a
    role="button"
    class="section-menu__button"
    [routerLink]="['/next-step-word-study', 'addl-o']"
    routerLinkActive="section-menu__button--active"
    >10: <span class="section-menu__button--nowrap">Addl O</span></a
  >
  <a
    role="button"
    class="section-menu__button"
    [routerLink]="['/next-step-word-study', 'addl-e']"
    routerLinkActive="section-menu__button--active"
    >11: <span class="section-menu__button--nowrap">Addl E</span></a
  >
  <a
    role="button"
    class="section-menu__button"
    [routerLink]="['/next-step-word-study', 'addl-u']"
    routerLinkActive="section-menu__button--active"
    >12: <span class="section-menu__button--nowrap">Addl U</span></a
  >
</div>
