<app-navbar></app-navbar>
<section class="pt-0">
  <div class="container">
    <div class="row">
      <!-- Left sidebar START -->
      
      <!-- Left sidebar END -->

      <!-- Main content START -->
      <div class="col-xl-9">
        <div class="card bg-transparent border rounded-3">
          <!-- Card header START -->
          <div class="card-header bg-transparent border-bottom">
            <h3 class="mb-0">Number Rounding Game</h3>
          </div>
          <!-- Card header END -->
          <div>
            <h4>
              Round the number below to the nearest:
              {{ roundingFactor | nthPlainText }}
            </h4>
            <p class="display-5">{{ randomNumber | number }}</p>
            <div class="input-group mb-3" style="width: 50%">
              <input
                type="number"
                pattern="[0-9]*"
                inputmode="numeric"
                class="form-control"
                [(ngModel)]="userAnswer"
                placeholder="Enter your answer"
                aria-label="Enter your answer"
                (keydown.enter)="checkAnswer(userAnswer)"
              />
              <button
                class="btn btn-outline-primary"
                type="button"
                (click)="checkAnswer(userAnswer)"
              >
                Check Answer
              </button>
            </div>
            <p class="display-6" [style.color]="resultColor">{{ result }}</p>
            <p class="display-6">
              Streak:
              <span id="correct-streak">{{ correctStreak }}</span> Highest
              Streak: <span id="highest-streak">{{ highestStreak }}</span>
            </p>
          </div>

          <div id="rounded-numbers-container">
            <h2>Rounded Numbers:</h2>
            <ag-grid-angular
              style="width: 100%; height: 500px"
              class="ag-theme-alpine"
              [rowData]="roundedNumbers"
              [columnDefs]="columnDefs"
              (gridReady)="onGridReady($event)"
            >
            </ag-grid-angular>
          </div>
        </div>
      </div>
      <!-- Main content END -->
    </div>
    <!-- Row END -->
  </div>
</section>
