<div class="container">
  <h1>Number Rounding Game</h1>
  <div id="number-container">
    <p>
      Round the number below to the nearest: {{ roundingFactor | nthPlainText }}
    </p>
    <p id="random-number">{{ randomNumber }}</p>
    <input
      type="number"
      id="round-input"
      placeholder="Enter your answer"
      [(ngModel)]="userAnswer"
    />
    <button (click)="checkAnswer(userAnswer)">Check Answer</button>
    <p id="result" [style.color]="resultColor">{{ result }}</p>
    <div id="streak">
      Streak: <span id="correct-streak">{{ correctStreak }}</span>
    </div>
  </div>

  <div id="rounded-numbers-container">
    <h2>Rounded Numbers:</h2>
    <ul id="rounded-numbers-list">
      <li
        *ngFor="let numberPair of roundedNumbers"
        [style.color]="numberPair.isCorrect ? 'green' : 'red'"
      >
        {{ numberPair.original }} rounded to the nearest
        {{ getPlaceText(numberPair.roundingFactor) }} was
        {{ numberPair.rounded }} ({{
          numberPair.isCorrect ? 'Correct' : 'Incorrect'
        }})
      </li>
    </ul>
  </div>
</div>
