@import 'bootstrap';
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'typeface-roboto/index.css';
@import './scss/style';
// styles.scss or styles.css

@import '~ag-grid-community/styles/ag-grid.css';
@import '~ag-grid-community/styles/ag-theme-alpine.css';

.bg-orange {
  // --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-orange-rgb), 0.1) !important;
}

.text-orange {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-orange-rgb), var(--bs-text-opacity)) !important;
}

.mt-n3 {
  margin-top: -1rem !important;
}

.mt-n4 {
  margin-top: -1.6rem !important;
}

.mb-n4 {
  margin-bottom: -1.6rem !important;
}

.start-70 {
  left: 70% !important;
}
